.about {
  padding: var(--space-lg) 0;
  max-width: 600px;
}

.about__title {
  font-size: 1.75rem;
  color: var(--primary-300);
  font-weight: bold;
}

.about__content {
  display: grid;
  gap: var(--space-md);
}

.about__text {
  max-width: 60ch;
  line-height: 1.7;
}