.header {
  padding: 0 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-300);
  color: var(--text-100);
}

.header__logo img {
  width: 50px;
  height: auto;
  object-fit: cover;
}


.nav select {
  background: transparent;
  border: none;
  font-size: 1rem;
}