.header {
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-300);
  color: var(--text-100);
}

.logo {
  font-weight: bold;
  letter-spacing: 2px;
}

.nav a {
  font-size: 1rem;
  color: var(--text-100);
  text-decoration: none;
}