.header {
  padding: var(--space-xs) var(--space-md);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-300);
  color: var(--text-100);
}


.nav select {
  background: transparent;
  border: none;
  font-size: 1rem;
}