.navbar {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .navbar__divider {
    margin: 0 0.5rem;
  }

  .navbar__help {
    font-size: 1.8rem;
  }
}

.navbar__actions {
  display: flex;
  gap: 0.5rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn--primary {
  border: 1px solid var(--primary);
}

.btn--secondary {
  background-color: var(--primary);
  font-weight: 600;
}