.navbar {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  .navbar__divider {
    margin: 0 0.5rem;
  }

  .navbar__help {
    font-size: clamp(1.25rem, 0.9167rem + 2.6667vw, 1.5rem);
  }
}

.navbar__actions {
  display: flex;
  gap: 0.5rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn--primary {
  border: 1px solid var(--primary);

  &:hover {
    background-color: var(--accent);
  }
}

.btn--secondary {
  background-color: var(--primary);
  font-weight: 600;

  &:hover {
    transform: translateY(-5px)
  }
}

@media (max-width: 425px) {
.navbar {
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
}
}