.card {
  display: flex;
  gap: 1.25rem;
  padding: 2.5rem;
  transition: transform 0.2s ease;

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }
}

.card__icon-container {
  flex-shrink: 0;
}

.card__icon {
  font-size: 2rem;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card__title {
  font-family: var(--font-title);
  font-size: clamp(1rem, 0.75rem + 4vw, 1.5rem);
  color: var(--text-dark);
}

.card__description {
  font-family: var(--font-body);
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--text-dark);
}

.card__link {
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
  margin-top: 0.5rem;
}

.card__link:hover {
  text-decoration: underline;
}

@media (max-width: 425px) {
  .card {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--text-light);
    flex-direction: column;
  }
}