.contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-md);
}

.contact__title {
  max-width: 300px;
  font-size: 2rem;
  color: var(--primary-300);
  font-weight: bold;

  a {
    text-decoration: none;
    color: var(--accent-100);
  }
}

.contact__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
}

.contact__list {
  display: flex;
  gap: var(--space-xs);
  list-style: none;
}