@font-face {
  font-family: 'Liberation Sans';
  src: url('./assets/fonts/LiberationSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/LiberationSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'against';
  src: url('./assets/fonts/against-Regular.woff2') format('woff2'),
    url('./assets/fonts/against-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg-light: #f5f4f1;
  --bg-dark: #333333;
  --text-light: #c0c2c4;
  --text-dark: #313d44;
  --primary: #848cff;
  --accent: #797abe;

  --font-title: 'against', sans-serif;
  --font-body: 'Liberation Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-light);
  color: var(--text-dark);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}