  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .app {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }

  section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    scroll-snap-align: start;
  }

  img {
    max-width: 450px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .sidebar {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 10;
  }


  a {
    text-decoration: none;
    color: inherit;
    text-align: right;

    &:hover {
      text-decoration: underline;
    }
  }

  .city__footer {
    display: flex;
    justify-content: space-between;
  }