  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
    text-align: right;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    padding: 0.5rem 1rem;
    background: transparent;
    border: 1px solid #1a1a1a;
    cursor: pointer;
  }


  /* APP */
  .app {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }

  .loading {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #2a2a2a, #1a1a1a);
  }

  .loading__spinner {
    position: relative;
    width: 180px;
    height: 32px;
    background: linear-gradient(135deg, #2a2a2a, #1a1a1a);
    border-radius: 16px;
    overflow: hidden;
    box-shadow:
      inset 0 2px 4px rgba(0, 0, 0, 0.6),
      0 1px 3px rgba(255, 255, 255, 0.1);
  }

  /* HEADER */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #141414;
    backdrop-filter: blur(10px);
    z-index: 1000;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .logo-img {
    max-width: 60px;
    height: auto;
    object-fit: cover;
  }

  /* CITY SECTION */
  .cities {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    scroll-snap-align: start;
  }

  .city__image {
    padding: 1rem;
    max-width: 450px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.6);
  }

  .city__info-content {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
    pointer-events: none;
  }

  .city__info-content.is-visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  /* SIDEBAR */
  .sidebar {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 10;
  }

  /* FOOTER */
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 2rem;
  }


@media (max-width: 425px) {
  .city__image {
    max-width: 90vw;
    max-height: 60vh;
  }
}