.hero {
  position: relative;
  overflow: hidden;
  min-height: 50vh;

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--space-lg);
    min-height: 80vh;
  }

}

.hero__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: var(--space-md);
}

.hero__image {
  position: relative;
  z-index: 2;
}

.hero__img {
  width: 100%;
  min-width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  z-index: 2;
}

.hero__btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: 1px solid var(--primary-100);
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 3;
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }
}