.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--space-sm) var(--space-lg);
  background-color: var(--bg-300);
  border-top: 1px solid var(--text-color);
  z-index: 10;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-md);


  a {
    font-family: var(--font-heading);
    font-size: 0.9rem;
    color: var(--text-color);
    opacity: 0.8;
    transition: opacity var(--transition-fast);

    &:hover {
      opacity: 1;
    }
  }

}

@media (max-width: 768px) {
  .footer__nav {
    flex-direction: column;
    gap: var(--space-md);
  }
}