.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-300);
  border-top: 1px solid var(--text-200);
  z-index: 10;

  a {
    font-size: 0.9rem;
    color: var(--text-100);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

}