.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: var(--primary);
  text-align: center;
}

.hero__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero__search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.hero__input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  width: 300px;
}

.hero__icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}