.hero {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
}

.hero__title {
  margin-bottom: 2rem;
  font-size: clamp(1.25rem, 0.75rem + 4vw, 2.5rem);
}

.hero__search-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  transition: transform 0.2s ease;

  &:focus-within {
    transform: translateY(-5px)
  }
}

.hero__input {
  width: 100%;
  padding: 16px 50px 16px 20px;
  font-size: clamp(1rem, 0.8333rem + 1.3333vw, 1.25rem);
  border: 1px solid var(--text-light);
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  outline: none;
  transition: transform 0.3s ease;

  &:focus {
    border-color: var(--primary);
  }
}

.hero__icon {
  position: absolute;
  right: 16px;
  top: 40%;
  font-size: 2.5rem;
  color: var(--accent);
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .hero__title {
    text-align: center;
  }

  .hero__search-wrapper {
    padding: 1rem;
  }
}