.footer {
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.footer__container {
  max-width: 1200px;
  padding: 3rem 1rem 0;
  margin: 0 auto;
}

.footer__grid {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem .25rem;
}

.footer__title {
  margin-bottom: 1.25rem;
  font-size: clamp(0.875rem, 0.55rem + 5.2vw, 1.2rem);
  color: var(--bg-light);
}

.footer__list {
  list-style: none;
}

.footer__item {
  margin-bottom: 0.5rem;
}

.footer__link {
  color: var(--text-light);
  text-decoration: none;
  font-size: clamp(0.625rem, 0.35rem + 4.4vw, 0.9rem);
  transition: opacity 0.2s;
}

.footer__bottom {
  padding-block: 1.15rem;
  border-top: 1px solid var(--text-light);
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5rem;

  svg {
    width: auto;
    height: 50px;
  }
}

.footer__text {
  font-size: clamp(0.625rem, 0.4979rem + 2.0339vw, 1rem);
}