.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(4px);
  z-index: 9999;
}

.modal__content {
  width: 90%;
  max-width: 450px;
  padding: 2.5rem;
  background-color: var(--bg-light);
  border-radius: 0.75rem;
  width: 100%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.modal__header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close {
  background: none;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.modal__footer {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;

  button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;  
    background: var(--accent);
  }
}