.mission {
  border-top: 1px solid var(--bg-200);
  padding: var(--space-lg) 0;
}

.mission__category {
  display: flex;
  gap: var(--space-md);
}

.mission__title {
  font-size: 0.85rem;
  color: var(--primary-100);
  margin-bottom: var(--space-xs);
}

.mission__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem 3rem;
  font-size: 1rem;
  font-weight: bold;
}

.mission__link {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;

  &:hover {
    color: var(--primary-200);
  }
}


@media (max-width: 425px) {
  .mission__category {
    flex-direction: column;
  }

  .mission__link {
    font-size: 0.7rem;
  }
}