:root {
  --primary-100: #FFD700;
  --primary-200: #ddb900;
  --primary-300: #917800;
  --accent-100: #FF4500;
  --accent-200: #ffe49a;
  --text-100: #f5f5f5;
  --text-200: #d9d9d9;
  --bg-100: #333333;
  --bg-200: #353030;
  --bg-300: #404040;

  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 32px;
  --space-lg: 64px;
}