:root {
  --primary-100: #FFD700;
  --primary-200: #ddb900;
  --primary-300: #917800;
  --accent-100: #FF4500;
  --accent-200: #ffe49a;
  --text-100: #f5f5f5;
  --text-200: #d9d9d9;
  --bg-100: #333333;
  --bg-200: #353030;
  --bg-300: #404040;

  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 32px;
  --space-lg: 64px;

  --font-heading: 'SolarSpace', sans-serif;
  --font-body: 'Space Grotesk', helvetica, sans-serif;
}

[data-theme='dark'] {
  --bg-color: #2b2a2a;
  --text-color: #faf6f6;
}

[data-theme='light'] {
  --bg-color: #f8e7e7;
  --text-color: #141414;
}

@font-face {
  font-family: 'SolarSpace';
  src: url('src/assets/fonts/SOLARSPACE.woff2') format('woff2'),
    url('src/assets/fonts/SOLARSPACE.woff') format('woff');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}